@import url ('https://fonts.googleapis.com/css?family=poppins=300,400,500');
body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000000;
  font-family: 'poppins', sans-serif;
}
.Login {
text-align: center;
width: 350px;
box-sizing: border-box;
padding: 40px;
background: #000000;

}
.Login h2 {
margin: 0 0 20px;
padding: 0;
font-size: 30px;
text-transform: uppercase;
}
.giris .pc {
position: relative;
width: 100%;
margin-bottom: 24px;
}
.giris .pc input {
height: 50px;
width: 100%;
padding: 0 20px;
box-sizing: border-box;
font-size: 18px;
outline: none;
border: 1px solid #000;
}
.giris .pc span {
position: absolute;
top: 12px;
left: 20px;
padding: 0;
transition: 0.5s;
pointer-events: none;
background: #000000
text-transform: uppercase;
}
.giris .pc input:focus ~ span,
.giris .pc input:vadid ~ span{
 top: 12px;
 left: 12px;
 font-size: 12px;
 padding: 2px 4px;
 border: 1px solid #000
 background #000000;
}
.giris .pc input [type="submit"] {
background: #ff0;
border: none;
box-shadow: none;
text-transform: uppercase;
cursor: pointer;
font-weight: 600;
}
.giris .pc input [type="submit"]:hover {
background: #000000;
}
